body {
  padding: 20px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #0040CC;
}
a:hover {
  color: #0040CC;
  background: #bbbbbb;
}

#utilities{
  width: 900px;
}
#searchManager {
  width: 40%;
  float: left;
}
#listManager {
  width: 30%;
  float: left;
}
#songManager {
  width: 30%;
  float: left;
}

.result:hover {
  background: #eeddff;
}
.selected {
  background: #ddeeff;
}
