#utilities {
  margin-left:  10%;
  margin-right: 10%;
}

.result:hover {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background: #eeeeee;
}
.selected, .selected:hover {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  color: #ffffff;
  background: #0077dd;
}
