body {
  padding: 50px 300px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #0040CC;
}
a:hover {
  color: #0040CC;
  background: #bbbbbb;
}

.result:hover {
  background: #eeddff;
}
